@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixin.scss";

html{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8px;
    line-height: 1.4;
}

body{
    font-size: 16rem;
}

a {
    text-decoration: none;
}

.grid-container{
    max-width: $grid-container-width;
    margin: 0 auto;
    padding: 0 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(10px, 1fr) );
    grid-gap: 10px;
    
    @include small-only(){
        grid-template-columns: 1fr !important;
    }
}

#header{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 80rem 0 15rem;
    z-index: 1000;
    
    .grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo{
        opacity: 0;

        @include small-only() {
            width: 140rem;
            display: none;
        }
    }
    
    ul.menu-principal{
        display: flex;
        gap: 40px;

        @include small-only() {
            display: none;
        }
        
        li{
            a{
                color: $orange;
                text-decoration: none;
                font-size: 15rem;
                
                &:hover{
                    color: white;
                }
            }
        }
    }
    
    .cta-menu{
        opacity: 0;
        
        a{
            @include button();

            @include small-only() {
                font-size: 14rem;
            }
        }
    }
    
    &.fixed{
        padding: 15rem 0 15rem;
        background-color: white;
        position: fixed;
        
        .logo{
            opacity: 1;

            @include small-only() {
                display: block;
            }
        }
        
        ul.menu-principal{
            @include small-only() {
                display: none;
            }
            li{
                a{
                    color: black;
                    
                    &:hover{
                        color: $orange;
                    }
                }
            }
        }
        
        .cta-menu{
            opacity: 1;
        }
    }
}

main{
    
    /** Seção Banner */
    #banner{
        background-image: url('../images/bg-banner.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // height: calc(100vh - 300px);
        padding: 200rem 0 150rem;
        
        @include small-only() {
            padding: 100rem 0 150rem;
            
        }
        
        .grid-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            .grid {
                width: 100%;
                align-items: center;
            }
        }
        
        .conteudo-esquerda{
            display: inline-block;
            .logo-instagram{
                margin-bottom: 42rem;
                max-width: 438rem;
            }
            
            h1{
                display: inline-block;
                color: white;
                font-size: 30rem;
                margin-bottom: 30px;
                line-height: 1.4;

                @include small-only() {
                    br{
                        display:none
                    }
                }
            }
            
            p{
                color: $orange;
                font-size: 22rem;
                text-transform: uppercase;
                line-height: 2;
                text-align: center;
            }
            
        }
        
        .conteudo-direita{
            display: flex;
            justify-content: flex-end;
            
            @include small-only() {
                justify-content: center;

            }
            
            .formulario-banner{
                display: inline-block;
                background: rgba(255, 255, 255, 0.15);
                mix-blend-mode: lighten;
                box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.45);
                
                padding: 0;
                border-radius: 15px;
                overflow: hidden;
                
                h2{
                    font-size: 22rem;
                    line-height: 1.4;
                    color: white;
                    font-weight: 700;
                    padding: 30px;
                }
                
                form{
                    width: 360px;
                    padding: 0 30px;
                    
                    @include small-only() {
                        width: auto;

                    }
                    
                    .field{
                        display: grid;
                        grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
                        grid-gap: 10px;
                        @include small-only() {
                            grid-template-columns: 1fr;
    
                        }
                        
                        
                        input{
                            background-color: transparent;
                            border-radius: 3px;
                            margin-bottom: 15px;
                            padding: 10px 20px;
                            border: 1px solid white;
                            color: white;
                            
                            
                            
                            &:invalid{
                                border: 1px solid $dark-orange;
                                color: $dark-orange;
                            }
                            
                            &:placeholder-shown {
                                border: 1px solid white;
                            }
                            
                            &::placeholder{
                                color: rgba(white, 0.4);
                            }
                        }
                        
                        select{
                            background-color: transparent;
                            border-radius: 3px;
                            margin-bottom: 15px;
                            padding: 10px 20px;
                            border: 1px solid white;
                            color: white;
                            
                            option{
                                color: black;
                            }
                            
                            &:invalid{
                                border: 1px solid white;
                                color: rgba(white, 0.4);
                            }
                        }
                        
                        .termos{
                            color: white;
                            font-size: 12rem;
                            display: flex;
                            align-items: center;
                            
                            input{
                                margin: 0 5px 0 0;
                            }
                            
                            a{
                                color: $dark-orange;
                                text-decoration: underline;
                                
                            }
                        }
                        
                        
                    }
                    .botao{
                        text-align: center;
                        padding: 20px 0;
                        
                        button{
                            @include button();
                            font-size: 16rem;
                        }
                    }
                    
                }
                .contador{
                    font-family: 'Poppins';
                    font-weight: 700;
                    font-size: 16rem;
                    padding: 30rem;
                    background-color: $dark;
                    color: white;
                    text-align: center;
                    
                }
                
            }
        }
        
        .logo-huggy{
            padding: 160rem 0 0;
            text-align: center;
        }
    } /** Fim Seção Banner */
    
    #relacionamento{
        background-image: url('../images/bg-conheca.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
        color: white;
        padding: 100px 0;
        
        
        h2{
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30rem;
            line-height: 1.4;
            margin-bottom: 50rem;
            
        }
        
        .mockup{
            align-items: center;
            gap: 50px;
            
            p{
                font-size: 22rem;
                line-height: 1.8;
            }
        }
        
        .numeros{
            grid-template-columns: 3fr 4.6fr;
            gap: 70px;
            margin-bottom: 150rem;
            
            .col:first-child{
                p{
                    color: $purple;
                    font-size: 22rem;
                    line-height: 1.8;
                    
                }
            }
            
            .numeros-interna{
                display: flex;
                justify-content: space-between;
                text-align: center;

                @include small-only() {
                    flex-direction: column;
                    gap: 50px;
                }
                p{
                    font-size: 22rem;
                    
                    span{
                        display: block;
                        font-size: 75rem;
                        font-weight: 700;
                        line-height: 1;
                    }
                }
            }
        }
        
        .cta{
            text-align: center;
            .col{
                max-width: col(8);
                margin-left: col(2);

                @include small-only() {
                    max-width: 100%;
                    margin-left: 0;
                }
                
                h3{
                    color: $orange;
                    font-size: 30rem;
                    font-weight: 700;
                    margin-bottom: 30rem;
                }
                
                p{
                    font-weight: 700;
                    font-size: 22rem;
                    line-height: 1.8;
                    margin-bottom: 50rem;
                }
                
                .botao{
                    a{
                        @include button();
                        font-size: 20rem;
                    }
                }
                
            }
        }
         
    }
    
    #conteudo{
        padding: 100rem 0 150rem;
        background-image: url('../images/conteudo-completo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white; 

        .grid{
            align-items: center;

            @include small-only() {
                &:nth-child(2){
                    .col:first-child{
                        order: 2;
                    }
                }
            }
        }
        
        h2{
            text-align: center;
            font-size: 30rem;
            line-height: 1.5;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 100rem;
            
        }
        
        h3{
            position: relative;
            font-weight: 700;
            font-size: 22rem;
            margin-bottom: 10rem;
            padding-bottom: 10rem;
            
            &::before{
                content: '';
                position: absolute;
                width: 100rem;
                height: 3px;
                left: 0;
                bottom: 0;
                background-color: $yellow;
            }
            
        }
        
        p{
            font-size: 22rem;
            line-height: 1.4;
            margin-bottom: 40rem;
        }
    }
    
    #palestrantes{
        background-image: url('../images/bg-palestrantes.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
        color: white;
        padding: 100rem 0;   
        
        h2{
            font-weight: 700;
            font-size: 42rem;
            line-height: 1.6;
            text-align: left;

            @include small-only() {
                text-align: center;

                br{
                    display: none;
                }
            }
        }
        
        .grid{
            grid-template-columns: 1fr 300rem 1fr;
            margin-bottom: 150rem;
            align-items: center;
            gap: 50rem;
            
            &:first-of-type{
                .col{
                    margin-top: 70rem;

                    @include small-only() {
                        margin-top: 0;
                    }
                    
                    &:first-child{
                        margin-top: 0;
                        align-self: flex-start;
                        padding-left: 0;
                    }
                }
            }
            
            .col{
                @include small-only() {
                    text-align: center;
                }
                h3{
                    font-size: 22rem;
                    font-weight: 700;
                    margin-bottom: 15rem;
                    line-height: 1;
                }
                
                span{
                    font-size: 22rem;
                    font-weight: 700;
                    font-style: italic;
                    margin-bottom: 15rem;
                }
                
                p{
                    font-size: 22rem;
                    line-height: 1.8;
                    margin-bottom: 15rem;
                }
                
                img{
                    border-radius: 25rem;
                }
                &:first-child{
                    text-align: right;
                    padding-left: col(1);

                    @include small-only() {
                        padding-left: 0;
                    }
                }
                
                &:last-child{
                    padding-right: col(1);

                    @include small-only() {
                        padding-right: 0;
                    }
                }
            }
            
            
            @include small-only() {
                margin-bottom: 100rem;
                gap: 10px;

                &:nth-child(even){
                    .col{
                        text-align: center;

                        &:first-child{
                            order: 2;
                        }

                        &:last-child{
                            display: none;
                        }
                    }
                }
            }
            
            
        }
    }
    
    #cta-amarela{
        padding: 140rem 0;
        background-image: url('../images/bg-oportunidade-negocio.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        .grid-container{
            max-width: col(8);
            
            .grid{
                align-items: center;
                
            }
            
            h2{
                font-size: 24rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                
                b{
                    font-size: 57rem;
                    display: block;
                }
            }
            
            p{
                font-size: 22rem;
                line-height: 1.8;
            }
            
            .botao {
                margin-top: 100rem;
                text-align: center;
                
                a{
                    background: white;
                    color: $dark-orange; 
                    border: 2px solid black;
                    font-weight: 700;
                    font-size: 22rem;
                    padding: 10rem 20rem;
                    border-radius: 30rem;
                    transition: all 400ms ease;
                    
                    &:hover{
                        background: $purple;
                        color: white;
                        border: 2px solid $purple;
                    }
                }
            }
        }
    }
    
    #programacao{
        padding: 120rem 0;
        background-image: url('../images/bg-programacao.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        position: relative;
        
        .bg-shape {
            
            @include small-only() {
                display: none;
            }

            div{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                
            }
            
            .shape-01{
                background-image: url('../images/shape-01.png');
                background-size: contain;
                background-position: right;
            }
            
            .shape-02{
                background-image: url('../images/shape-02.png');
                background-size: contain;
                background-position: left;
            }
        }
        
        .grid-container{
            max-width: col(8);
            position: relative;
            z-index: 2;
        }
        
        h2{
            font-size: 42rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 70rem;
        }
        
        ul{
            li{
                display: flex;
                align-items: center;
                gap: 30px;
                margin-bottom: 50rem;
                
                span{
                    font-size: 32rem;
                    font-weight: 700;
                }           
                
                div{
                    h3{
                        font-weight: 700;
                        font-size: 24rem;
                        text-transform: uppercase;
                        line-height: 1.4;
                    }
                    
                    p{
                        font-size: 24rem;
                        line-height: 1.4;
                        
                    }
                }
            }
        }
        
        
    }
    
    #publico-alvo{
        background-color: black;
        color: white;
        padding: 180rem 0 130rem;
        
        h2{
            text-align: center;
            font-weight: 700;
            font-size: 32rem;
            margin-bottom: 100rem;
            
        }
        
        .grid:last-child{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            
            .col{
                padding: 110rem 20rem;
                border-radius: 25rem;
                border: 4px solid transparent;
                
                .box{
                    .inner-box{
                        text-align: center;
                        font-weight: 700;
                        font-size: 22rem;
                        line-height: 1.8;
                    }
                    
                }
                
                
                &:nth-child(1){
                    background: rgba(196, 196, 196, 0.3);
                }
                
                &:nth-child(2){
                    background: rgba(196, 196, 196, 0.4);
                }
                
                &:nth-child(3){
                    background: rgba(196, 196, 196, 0.25);
                }
                
                &:nth-child(4){
                    background: rgba(196, 196, 196, 0.25);
                }
                
                &:nth-child(5){
                    background: rgba(196, 196, 196, 0.3);
                } 
                
                &:nth-child(6){
                    background: rgba(196, 196, 196, 0.34);
                }
                &:hover{
                    background: $yellow;
                    color: black;
                    border: 4px solid white;
                }
            }
        }
    }


    #depoimento{
        background-image: url('../images/luz-amarela-07.png');
        background-position: 0;
        background-repeat: no-repeat;
        background-color: black;

        .grid-container{
            border-top: 3px solid rgba(196, 196, 196, 0.2);;
            padding: 10px 0;

            @include small-only() {
                padding: 50px 20px;
            }
            
            .grid{
                align-items: center;
            }
            
            h3{
                color: $purple;
                font-size: 37rem;
                line-height: 1.4;
                font-weight: 700;
                margin-bottom: 25rem;
                
                @include small-only() {
                    font-size: 30rem;

                    br{
                        display: none;
                    }
                }
            }
            
            p{
                font-size: 22rem;
                line-height: 1.4;
                color: white;
                font-style: italic;
            }
        }
    }
    
    #cta-comece-agora{
        background-color: black;
        color: white;
        text-align: center;
        padding: 0 0 125rem;

        @include small-only() {
            padding: 50px 20px;
        }
        
        h2{
            font-weight: 700;
            font-size: 30rem;
            margin-bottom: 40rem;
            
            @include small-only() {
                font-size: 20rem;
                line-height: 1.8;
            }
        }
        
        .botao{
            a{
                @include button();
            }
        }
    }
    
    #indicacao{
        padding: 110rem 0;

        background-image: url('../images/bg-indique.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        
        .titulo{
            text-align: center;
            margin-bottom: 50rem;
            
            h2{
                font-weight: 700;
                font-size: 30rem;
                margin-bottom: 30rem;
            }
            
            p{
                font-size: 22rem;
                line-height: 1.8;
            }
        }
        
        .lista{
            align-items: center;
            
            h3{
                text-align: center;
                font-size: 25rem;
                font-weight: 700;
                margin-bottom: 35rem;
            }
            
            ul{
                margin-bottom: 70rem;
                
                li{
                    display: grid;
                    grid-template-columns: 170px 1fr;
                    margin-bottom: 50rem;
                    
                    @include small-only() {
                        grid-template-columns: 1fr;
                        
                    }
                    
                    h4{
                        font-size: 22rem;
                        line-height: 1.3;
                        font-weight: 700;
                        text-align: right;

                        @include small-only() {
                            text-align: left;
                            text-decoration: underline;

                            br{
                                display: none;
                            }                            
                        }
                        
                        span{
                            display: block;
                            position: relative;
                            padding-right: 15rem;
                            
                            &::after{
                                content: '';
                                height:100%;
                                width: 3px;
                                background-color: $yellow;
                                right: 0;
                                top: 0;
                                position: absolute;

                                @include small-only() {
                                    display: none;  
                                }
                            }
                            
                        }
                    }
                    
                    p{
                        font-size: 22rem;
                        line-height: 1.3;
                        margin-bottom: 0;
                        padding-left: 15rem;
                        
                        @include small-only() {
                            padding: 10rem 0 0;

                        }
                    }
                    
                    small{
                        font-size: 13rem;
                        display: block;
                        padding-top: 5px;
                    }
                    
                }
            }
            .botao{
                text-align: center;
                
                a{
                    @include button();
                    font-size: 20rem;
                    line-height: 1.5;
                }
            }
        }
    }
    
    
}

#footer{
    padding: 125rem;
    background-color: black;
    color: white;

    background-image: url('../images/bg-footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    @include small-only() {
        padding: 100rem 20rem;

    }
    
    h2{
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 30rem;
        
        @include small-only() {
            font-size: 20px;
        }
    }
    
    .logo{
        text-align: center;
        margin-bottom: 65rem;
        
        img{
            min-width: 435rem;
            
            @include small-only() {
                min-width: 0;
            }

        }
    }
    
    form{
        width: col(8);
        margin-left: col(2);
        margin-bottom: 200rem;
        
        @include small-only() {
            width: auto;
            margin-left: 0;
            margin-bottom: 100rem;
        }
        
        .fields{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin-bottom: 30rem;
            
            @include small-only() {
                grid-template-columns: 1fr;
            }
            
            input{
                background: transparent;
                border: 1px solid white;
                border-radius: 10px;
                // height: 50rem;
                padding: 20rem;
                color: white;
                
                &:invalid{
                    border: 1px solid $dark-orange;
                    color: $dark-orange;
                }
                
                &:placeholder-shown {
                    border: 1px solid white;
                }
                
                &::placeholder{
                    color: rgba(white, 0.4);
                }
            }
        }
        
        .termos{
            color: white;
            font-size: 12rem;
            display: flex;
            align-items: center;
            margin-bottom: 60rem;
            
            input{
                margin: 0 5px 0 0;
            }
            
            a{
                color: $dark-orange;
                text-decoration: underline;
                
            }
        }
        
        .botao{
            text-align: center;
            button{
                @include button();
                font-size: 22rem;
            }
        }
    }
    
    .powered{
        margin-bottom: 55rem;
        margin-left: col(1);

        @include small-only() {
            margin-bottom: 50px;
            margin-left: 0;
            text-align: center;
        }
        
        
        h3{
            display: inline-block;
            font-weight: 700;
            font-size: 35rem;
            line-height: 1.5;
            margin-right: 10rem;
            
            @include small-only() {
                font-size: 20rem;
                margin-bottom: 15px;
                
            }
        }
        
        img{
            width: 230rem;
        }
    }
    
    .texto{
        width: col(10);
        margin-left: col(1);
        margin-bottom: 250rem;

        @include small-only() {
            width: 100%;
            margin-left: 0;
            margin-bottom: 50rem;
        
        }

        p{
            font-size: 23rem;
            line-height: 1.7;
        }
        
    }
    
    .logos{
        align-items: center;
        
        .logos-footer{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 50px;
            
            @include small-only() {
                gap: 30px;
                margin-bottom: 50rem;
            }
            
            .logo-footer-instagram{
                width: 180rem;
                
                @include small-only() {
                    width: 50%;
                    
                }
            }
            
            .logo-footer-huggy{
                width: 190rem;
                
                @include small-only() {
                    width: 50%;
                }

            }
            
        }
        
        
        .copyright{
            text-align: right;
            padding-right: col(1);

            @include small-only() {
                padding: 0;
                text-align: center;
            }
        }
    }
    
}

#banner-parabens{
    background-color: black;
    color: white;
    text-align: center;
    padding: 90rem 0 200rem;
    
    
    .logo-instagram{
        margin-bottom: 75rem;
        
        img{
            width: 250rem;
        }
    }
    
    h1{
        color: $yellow;
        font-weight: 700;
        line-height: 1.4;
        font-size: 30rem;
        margin-bottom: 20rem;
        
    }
    
    p{
        font-size: 22rem;
        line-height: 1.8;
        margin-bottom: 65rem;
        
        &.amarelo{
            margin-bottom: 0;
            color: $yellow;
            position: relative;
            
            &::after{
                content: '';
                position: absolute;
                top: 150%;
                left: 50%;
                transform: translateX(-50%);
                
                width: 0; 
                height: 0; 
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-top:  20px solid $yellow;
                
                border-radius: 3px;
            }
        }
    }
    
    .video {
        margin-bottom: 60rem;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
}


#header-evento{
    background: rgba(196, 196, 196, 0.2);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15rem 0;

    ul{
        display: flex;
        justify-content:flex-end;
        gap: 75rem;
        
        @include small-only() {
            gap: 20rem;
            align-items: center;
            justify-content: center;
        }

        li{
            @include small-only() {
                text-align: center;
            }
            a{
                color: white;
                font-size: 14rem;
                
            }
        }
    }
}

#banner-evento{
    background-color: black;
    color: white;
    padding: 80rem 0 120rem;
    
    .header{
        margin-bottom: 75rem;
        @include small-only() {
            grid-template-columns: 1fr 1fr !important;
            align-items: center;
        }

        
        .logo-footer-instagram {
            
            img{
                width: 200rem;

            }
        }
        .logo-footer-huggy {
            text-align: right;
            
            img{
                width: 175rem;

            }
        }
        
    }
    h1{
        text-align: center;
        font-size: 25rem;
        line-height: 1.3;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 35rem;
    }
    
    .main-evento{
        grid-template-columns: 2fr 1fr;
        gap: 50px;
        
        .video-evento {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
            
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
 
        .secao-chat{
            color: black;
            background: rgba(255, 255, 255, 1);
            border-radius: 25px;
            height: 100%;

            @include small-only() {
                padding: 20rem 20rem;

            }
        }
    }

    .texto-amarelo{
        p{
            color: $yellow;
            margin: 75rem auto; 
            text-align: center;
            font-size: 18rem;
            line-height: 1.4;
            max-width: col(6);
        }

    }

    .titulo-programacao{
        margin-bottom: 40rem;
        position: relative;

        &::before{
            content: '';
            width: 100%;
            height: 2px;
            background-color: white;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        h2{
            font-size: 25rem;
            line-height: 1.4;
            font-weight: 700;
            display: inline-block;
            background-color: black;
            z-index: 9;
            position: relative;
            padding-right: 15px;
            
        }
    }

    .programacao{
        gap: 50px;

        .video-semana{
            h3{
                font-size: 16rem;
                line-height: 1.4;
                margin-bottom: 10rem;
            }
            .video{
                margin-bottom: 10rem;

            }
            p{
                font-size: 16rem;
                line-height: 1.4;
            }
        }
    }
}

#teste-gatuito{
    padding: 80rem 0;
    
    .grid{
        align-items: center;
    }
    
    .col:first-child{
        width: col(5);
        margin-left: col(1);
        
        @include small-only() {
            width: 100%;
            margin: 0;
        }
    }
    
    .col:last-child{
        width: col(4);
        margin-left: col(0);

        @include small-only() {
            width: 100%;

        }
    }
    
    h2{
        font-weight: 700;
        font-size: 30rem;
        line-height: 1.3;
        margin-bottom: 50rem;
    }
    
    p{
        font-size: 16rem;
        line-height: 1.4;
        margin-bottom: 30rem;
        
        a{
            color: black;
            text-decoration: underline;
        }
    }
    
    .botao{
        a{
            @include button();
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}

#materiais-educativos{
    background-color: black;
    padding: 85rem 0 50rem;
    color: white;
    
    .materiais{
        .col{
            width: col(4);
            margin-left: col(1);
            margin-right: col(1);
            display: flex;
            flex-direction: column;
            align-items: center;

            @include small-only() {
                width: 100%;
                margin: 0;
            }
        }
    }
    
    h2{
        text-align: center;
        font-weight: 700;
        margin-bottom: 80rem;
        font-size: 30rem;
    }
    
    p{
        font-size: 16rem;
        line-height: 1.4;
        margin-bottom: 30rem;
    }
    
    .botao {
        a{
            @include button();
        }
    }
    
}